<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
   </configSections>

   <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <add key="sseUri" value="/SSE.ashx" />
      <add key="sseSleepSec" value="20" />
      <add key="sseMaxItems" value="2" />
      <add key="viewMaxItems" value="100" />
      <add key="heatMapHours" value="8" />

      <add key="xslUri" value="~/RSSItem.xslt" />

      <add key="adminId" value="JennyJenny"/>
      <add key="adminPassword" value="8675309"/>
   </appSettings>

   <connectionStrings>
      <add name="dbConn" connectionString="Data Source=___;Initial Catalog=RSS;timeout=1200;Integrated Security=true" />
   </connectionStrings>

   <system.web>
      <compilation debug="true" targetFramework="4.7.2" />
      <httpRuntime targetFramework="4.7.2" />
   </system.web>

   <system.webServer>
      <staticContent>
         <!-- technically, this should be application/rss+xml, but if you use that,
         then chrome won't download and apply any referenced stylesheets or
         transformations -->
         <mimeMap fileExtension=".rss" mimeType="application/xml" />
      </staticContent>

      <httpProtocol>
         <customHeaders>
            <remove name="X-Powered-By" />
            <add name="X-Frame-Options" value="SAMEORIGIN" />
         </customHeaders>
      </httpProtocol>
   </system.webServer>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
            <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
            <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.6.5135.21930" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>

   <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="sse." />
         <appendToFile value="true" />
         <staticLogFileName value="false" />
         <rollingStyle value="Date" />
         <datePattern value="yyyyMMdd'.txt'" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d %-5p %c - %m%n" />
         </layout>
      </appender>

      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
         <bufferSize value="100" />
         <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
         <connectionString value="Data Source=___;Initial Catalog=RSS;timeout=1200;Integrated Security=true" />
         <commandText value="INSERT INTO log4net (date,thread,level,logger,message,exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
         <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
         </parameter>
         <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%thread" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%level" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%logger" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%message" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@exception" />
            <dbType value="String" />
            <size value="2000" />
            <layout type="log4net.Layout.ExceptionLayout" />
         </parameter>
         <evaluator type="log4net.Core.LevelEvaluator">
            <param name="Threshold" value="WARN" />
         </evaluator>
         <threshold value="WARN" />
      </appender>      
      
      <root>
         <level value="ALL" />
         <appender-ref ref="RollingFileAppender" />
         <appender-ref ref="AdoNetAppender" />
      </root>
   </log4net>
   <system.codedom>
      <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
   </system.codedom>
</configuration>
