<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
   </configSections>

   <appSettings>
      <add key="sleepSec" value="30" />
      <add key="rssPublishDir" value="c:\data\source\Portfolio\RSSWeb\feed.rss" />
      <add key="rssPublishUri" value="http://___.azurewebsites.net/news/feed.rss" />
      <add key="rssXsltUri" value="rss.xslt" />
      <add key="publishCount" value="100"/>
      <add key="isWebJob" value="false"/>
   </appSettings>

   <connectionStrings>
      <add name="dbConn" connectionString="Data Source=___;Initial Catalog=RSS;timeout=1200;Integrated Security=true" />
   </connectionStrings>

   <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="aggregator."/>
         <appendToFile value="true"/>
         <staticLogFileName value="false"/>
         <rollingStyle value="Date"/>
         <datePattern value="yyyyMMdd'.txt'"/>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d %-5p %c - %m%n"/>
         </layout>
      </appender>

      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
         <bufferSize value="100" />
         <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
         <connectionString value="Data Source=___;Initial Catalog=RSS;timeout=1200;Integrated Security=true" />
         <commandText value="INSERT INTO log4net (date,thread,level,logger,message,exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
         <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
         </parameter>
         <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%thread" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%level" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%logger" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%message" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@exception" />
            <dbType value="String" />
            <size value="2000" />
            <layout type="log4net.Layout.ExceptionLayout" />
         </parameter>
         <evaluator type="log4net.Core.LevelEvaluator">
            <param name="Threshold" value="WARN"/>
         </evaluator>
         <threshold value="WARN" />
      </appender>

      <root>
         <level value="ALL"/>
         <appender-ref ref="RollingFileAppender"/>
         <appender-ref ref="AdoNetAppender"/>
      </root>
   </log4net>

   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
   </startup>
</configuration>