<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
   </configSections>

   <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
   </appSettings>

   <connectionStrings>
      <add name="dbConn" connectionString="Data Source=___;Initial Catalog=RSSTest;timeout=1200;Integrated Security=true" />
   </connectionStrings>

   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel.MessageLogging" switchValue="All">
            <listeners>
               <add name="messages" />
            </listeners>
         </source>
      </sources>
      <sharedListeners>
         <add name="messages" type="Util.ReqRspTraceListener, Util" initializeData="reqRsp.txt" />
      </sharedListeners>
   </system.diagnostics>
   
   <system.serviceModel>
      <behaviors>
         <endpointBehaviors>
            <behavior name="jsonBehavior">
               <webHttp />
            </behavior>
         </endpointBehaviors>

         <serviceBehaviors>
            <behavior>
               <!-- serve custom WSDL to clients -->
               <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" externalMetadataLocation="http://localhost:64542/RSS.wsdl" />
               
               <!-- To receive exception details in faults for debugging purposes,
               set the value below to true.  Set to false before deployment to
               avoid disclosing exception information -->
               <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>

      <bindings>
         <basicHttpBinding>
            <binding name="basicHttpBinding">
               <security mode="None" />
            </binding>
         </basicHttpBinding>
         <basicHttpsBinding>
            <binding name="basicHttpsBinding">
            </binding>
         </basicHttpsBinding>
         <webHttpBinding>
           <binding name="webHttpBinding">
           </binding>
         </webHttpBinding>
      </bindings>

      <diagnostics>
         <messageLogging
            logEntireMessage="true"
            logMalformedMessages="true"
            logMessagesAtServiceLevel="true"
            logMessagesAtTransportLevel="true"
            maxMessagesToLog="3000000"
            maxSizeOfMessageToLog="20000000" />
      </diagnostics>

      <protocolMapping>
         <add binding="basicHttpBinding" scheme="http" />
         <add binding="basicHttpsBinding" scheme="https" />
      </protocolMapping>

      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

      <services>
         <service name="RSSWCFSvc.RSSService">
            <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="RSS" name="httpRSSService" />
            <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="RSS" name="jsonRSSService" />
         </service>
      </services>
   </system.serviceModel>

   <system.web>
      <compilation debug="true" targetFramework="4.7.2" />
      <httpRuntime targetFramework="4.7.2"/>
   </system.web>

   <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <directoryBrowse enabled="false"/>
   </system.webServer>

   <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="rsswcfsvc."/>
         <appendToFile value="true"/>
         <staticLogFileName value="false"/>
         <rollingStyle value="Date"/>
         <datePattern value="yyyyMMdd'.txt'"/>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d %-5p %c - %m%n"/>
         </layout>
      </appender>

      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
         <bufferSize value="100" />
         <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
         <connectionString value="Data Source=___;Initial Catalog=RSS;timeout=1200;Integrated Security=true" />
         <commandText value="INSERT INTO log4net (date,thread,level,logger,message,exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
         <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
         </parameter>
         <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%thread" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%level" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%logger" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%message" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@exception" />
            <dbType value="String" />
            <size value="2000" />
            <layout type="log4net.Layout.ExceptionLayout" />
         </parameter>
         <evaluator type="log4net.Core.LevelEvaluator">
            <param name="Threshold" value="WARN" />
         </evaluator>
         <threshold value="WARN" />
      </appender>      
      <root>
         <level value="ALL"/>
         <appender-ref ref="RollingFileAppender"/>
         <appender-ref ref="AdoNetAppender"/>
      </root>
   </log4net>
</configuration>