/* Copyright 2020 Richard Blasingame. All rights reserved. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
   box-sizing: border-box;
   /* darken fonts a bit */
   text-shadow: transparent 0 0 0, rgba(0,0,0,0.58) 0 0 0 !important;
}

body {
   padding: 0;
   border: 0;
   margin: 0;
   font-family: Arial, Verdana;
   font-size: 1em;
   line-height: 1.2;
}

label {
   font-weight: normal;
}

code {
   color: mediumvioletred;
}

/* main menu */
.navLong, .navShort {
   font-family: Verdana, Arial;
   width: 100%;
   background-color: #ddd;
   margin: 0;
}

.navShort {
   display: none;
}

ul.nav {
   list-style-type: none;
   overflow: hidden;
   border: 0;
   padding: 0;
   margin: 0;
   vertical-align: middle;
}

li.nav {
   float: left;
   padding: 0;
   border: 0;
   margin: 0;
   padding: 0 2px 0 2px;
   border-right: 1px solid #FFF;
}

li.nav a:link, li.nav a:visited {
   display: block;
   color: #555555;
   background-color: #ddd;
   text-align: center;
   border: 0;
   margin: 0;
   padding: 4px;
   text-decoration: none;
}

li.nav a:hover, li.nav a:active {
   background-color: #BBB;
}

/* news menu */
.circle {
   display: inline-block;
   width: 26px;
   height: 26px;
   border-radius: 50%;
   border: 0;
   margin: 0 3px 0 0;
   padding: 0;
   vertical-align:middle;
   background-color: #99BBEE;
   color: white;
   text-align:center;
   outline: none;
}

#rsskeywords {
   font-size: .75em;
   width: 100%;
   display: inline-block;
}

#rsskeywords:focus {
   font-size: larger;
}

[contenteditable=true]:empty:before {
   content: attr(placeholder);
   pointer-events: none;
   display: block;
}

div[contenteditable=true] {
   border: 1px dashed #AAA;
   width: 100%;
   padding: 5px;
   font-style: italic;
}

/* items */
#ssecontent {
   margin: auto;
   width: 98%;
   display: flex;
   flex-wrap: wrap;
}

.newitem {
   font-size: larger;
   background-color: #e0ffe0;
   border: solid 1px #d9eed9;
   -webkit-animation: fadeIn ease 2s;
   -moz-animation: fadeIn ease 2s;
   -o-animation: fadeIn ease 2s;
   -ms-animation: fadeIn ease 2s;
   animation: fadeIn ease 2s;
}

.olditem {
   background-color: #f8f3f5;
   border: solid 1px #e9e2e4;
}

.olditem .itemdesc {
   display: none;
}

.impitem {
   font-size: larger;
   background-color: #ffffcc;
   border: solid 1px #eeeebb;
}

.impitem .itemdesc {
   display: inherit;
}

.newitem, .olditem, .impitem {
   border-collapse: separate;
   border-radius: 5px;
   border-spacing: 0;
   margin: 2px;
   padding: 10px 10px 5px 10px;
   flex: 1 1 auto;
   min-width: 49.5%;
   max-width: 49.5%;
}

.box {
   font-size: smaller;
   display: flex;
   justify-content: space-between;
}

.itemurl {
   color: royalblue;
   font-weight: bold;
   text-decoration: none;
}

.itemdate {
   font-style: italic;
   font-size: smaller;
   border: 0;
   margin: 0;
   padding: 0;
   flex-shrink: 0;
}

.itemdesc {
   display: block;
   font-size: smaller;
   margin: .5vw .5vw .5vw 1vw;
   font-family: "Open Sans", Arial, Verdana;
}

.itemcontent {
   display: block;
}

.feedname {
   font-style: italic;
   font-size: smaller;
   border: 0;
   margin: 0;
   padding: 0;
}

/* hide embedded social sharing links */
.feedflare {
   display: none;
}

/* bling */
@keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-o-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

/* responsiveness */
@media only screen and (max-width: 320px) {
   .navLong {
      display: none;
   }

   .navShort {
      display: inline-block;
   }
}

@media only screen and (max-width: 600px) {
   .newitem, .olditem, .impitem, .sseerror {
      max-width: 100%;
   }
}

@media only screen and (min-width: 600px) {
   .newitem, .olditem, .impitem, .sseerror {
      max-width: 100%;
   }
}

@media only screen and (min-width: 768px) {
   .newitem, .olditem, .impitem, .sseerror {
      max-width: 100%;
   }
}

@media only screen and (min-width: 992px) {
   .newitem, .olditem, .impitem, .sseerror {
      min-width: 49.5%;
      max-width: 49.5%;
   }
}

@media only screen and (min-width: 1200px) {
   .newitem, .olditem, .impitem, .sseerror {
      min-width: 49.5%;
      max-width: 49.5%;
   }
}

@media only screen and (min-width: 1920px) {
   .newitem, .olditem, .impitem, .sseerror {
      min-width: 33%;
      max-width: 33%;
   }
}